*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f1f1;
    font-family: 'Commissioner';
    height: 3454px
}
/* start navbar */

.navbar{
    background: url(../images/image-hero-mobile.jpg);
    -webkit-background-size: 100% 100%;
    -moz-background-size:  100% 100%;
    -o-background-size:  100% 100%;
    background-size:  100% 100%;
    height: 450px;
    padding-top: 33px
}
.navbar .brand{
    margin-bottom:  30px;
    display: flex;
}
.navbar .brand>span{
    display: inline-block;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    flex-grow: 1
} 
.navbar .brand .navbar-button{
    width: 30px;
    height: 20px;
    line-height: 1.5;
    margin-top: 8px;
    cursor: pointer
}
.navbar .brand .navbar-button span{
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff
   
}
.navbar .brand .navbar-button span:nth-of-type(2){
    margin-top: 5px;
    margin-bottom: 5px
}
.nav-title{
    margin: 0 24px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    display: none
}
.navbar .nav-title ul{
    list-style: none;
}
.navbar .nav-title ul li{
    padding: 30px;
    border-bottom: 1px solid #eee
}
.navbar .nav-title ul li:last-of-type{
    border: none
}
/* end navbar */

/* start section bamboo */

.bamboo{
    margin-top: -90px;
}
.bamboo .bamboo-body{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding-bottom: 45px
}
.bamboo .bamboo-body .img-craft{
    margin-top: -28px;
}
.bamboo .bamboo-body h1{
    margin-top: 30px;
    font-size: 33px;
    font-weight: bolder
}
.bamboo .bamboo-body p{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 25px;
    line-height: 1.7
}
.bamboo .bamboo-body button{
    width: 257px;
    height: 56px;
    border-radius:30px;
    margin-right: 15px;
    background-color:  hsl(176, 50%, 47%);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer
}
.bamboo .bamboo-body .bookmark{
    display: inline-block;
    position: absolute;
    bottom: 45px
}

/* end section bamboo */

/* start section pricing table */

.pricing{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    padding:  10px 30px 40px
}
.pricing .price{
    padding-top: 30px;
    padding-bottom: 30px
}
.pricing .price h1{
    font-weight: 700;
    margin-bottom: 15px
}
.pricing .divider{
    width: 85px;
    height: 1px;
    background-color: hsl(0, 0%, 48%);
    margin: auto
}
.pricing .progress{
    width: 100%;
    height: 10px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 93%);
}
.pricing .progress span{
    width: 85%;
    height: 100%;
    display: block;
    background-color: hsl(176, 50%, 47%);
    border-radius: 8px
}
/* end section pricing table */

/* start section about */

.about-us{
    margin-top: 30px;
    margin-bottom: 30px
}
.about-us .container .about{
    background-color: #fff;
    border-radius: 10px;
    padding: 45px 25px 25px
}
.about-us .container .about h2{
    margin-bottom: 30px;
}
.about-us .container .about p{
    margin-bottom: 25px;
    line-height: 1.7
}
.about-us .container .about .stand{
    border: 1px solid hsl(0, 0%, 48%);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px
}
.about-us .container .about .stand:last-child{
    opacity: 0.4
}
.about-us .container .about .stand>span{
    color: hsl(176, 50%, 47%);
    margin-bottom: 30px;
    margin-top: 8px;
    display: block;
}
.about-us .container .about p{
    margin-bottom: 30px;
}
.about-us .container .about .title-card{
    font-size: 30px;
    color: #000;
    font-weight: bold
}
.about-us .container .about .title-card span{
    font-size: 16px;
    color: hsl(0, 0%, 48%);
    font-weight: 200
}
.about-us .container .about button{
    width: 150px;
    height: 45px;
    border-radius: 23px;
    text-align: center;
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer
}
.about-us .container .about .stand:last-child button{
    background-color:  hsl(0, 0%, 50%);
}

/* end section about */

/* start section supported */

.supported{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 3454px;
    z-index: 3;
    display: none;
}
.supported .support{
    padding: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin:  200px auto
}
.supported .support h2{
    margin: 40px auto;
    color: #000;
}
.supported .support p{
    line-height: 1.7;
    margin-bottom: 40px
}
.supported .support button{
    width: 100px;
    height: 45px;
    color: #fff;
    background-color: hsl(176, 50%, 47%);
    text-align: center;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* end section supported */

/* start section back */

.back{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 3454px;
    z-index: 5;
    display: none;
    padding: 150px 25px
}
.back .back-project{
    background-color: #fff;
    border-radius: 10px;
    padding: 45px 25px 25px
}
.back .back-project h2{
    margin-bottom: 30px;
    text-transform: capitalize
}
.back .back-project p{
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.7
}
.back .back-project .stand{
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 48%);
    margin-bottom: 20px;
}
.back .back-project .stand .stand-content{
    padding: 25px;
    position: relative
}
.back .back-project .stand:last-child{
    opacity: 0.4
}
.back .back-project .stand .stand-content input[type='checkbox']:before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 48%);
    top: 25px
}
.back .back-project .stand .stand-content input[type='checkbox']:after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:  hsl(176, 50%, 47%);
    top: 29.5px;
    left: 29px;
    display: none
}
.back .back-project .stand .stand-content input[type='checkbox']:checked:after{
    display: block
}
.back .back-project .stand .stand-content input[type='checkbox']{
    appearance: none
}
.back .back-project .stand .stand-content input[type='checkbox']:first-of-type:before{
    top: 25px 
}
.back .back-project .stand .stand-content label{
    font-size: 20px;
    font-weight: bold
}
.back .back-project .stand .stand-content>label,
.back .back-project .stand .stand-content>span{
    margin-left: 50px
}
.back .back-project .stand .stand-content>span{
    color: hsl(176, 50%, 47%);
    margin-top: 8px;
    display: block;
}
.back .back-project .title-card{
    font-size: 30px;
    color: #000;
    font-weight: bold
}
.back .back-project .title-card span{
    font-size: 16px;
    color: hsl(0, 0%, 48%);
    font-weight: 200
}
.back .back-project .stand .enter-pledge{
    border-top: 1px solid hsl(0, 0%, 85%);
    text-align: center;
    padding-bottom: 30px;
    display: none
}
.back .back-project .stand .enter-pledge.active{
    display: block
}
.back .back-project .stand .enter-pledge h4{
    margin-top: 40px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 48%);
    font-weight: 200
}
.back .back-project .stand .enter-pledge button{
    width: 130px;
    height: 55px;
    color: #000;
    font-size: 18px;
    background-color:#fff;
    text-align: center;
    border-radius: 25px;
    border: 1px solid hsl(0, 0%, 48%);
    outline: none;
    cursor: pointer;
}
.back .back-project .stand .enter-pledge button:first-of-type{
    margin-right: 30px;
    font-weight: bold;
}
.back .back-project .stand .enter-pledge button:first-of-type span{
    color: hsl(0, 0%, 48%);
    margin-right: 5px
}
.back .back-project .stand .enter-pledge button:hover{
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    border: none
}
.back .back-project .stand:last-child .enter-pledge button{
    cursor: no-drop
}

/* end section back */

/* start custom class */

.active{
    display: block
}
.container{
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
p{
    color: hsl(0, 0%, 48%);
}
h1, h2, h3, h4, h5, h6{
    text-transform: capitalize
}

/* end custom class */